<!DOCTYPE html>
<html lang="en">
<head th:replace="~{Fragments :: head(GuestForm)}"></head>
<body>
    <header th:replace="~{Fragments :: header}"></header>
    <div class="container text-center">
        <h1>Guests Form</h1>
    </div>
    <hr>

    <form th:object="${dtoGuest}" class="container" method="post">
        <div class="col-md-6">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{name}" placeholder="Event name...">
            <div class="invalid-feedback" th:errors="*{name}"></div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="phone" class="form-label">Phone:</label>
            <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{phone}" placeholder="Phone number...">
            <div class="invalid-feedback" th:errors="*{phone}"></div>
        </div>
        <button type="submit" class=" mb-3 btn btn-primary">Save</button>
    </form>
    <div class="container mt-4">
        <h4>Go to Guest List:</h4>
    </div>
    <h4 class="container mb-3">
        <a th:href="@{'/' + ${event?.id} + '/guestList'}" class="btn btn-primary">GuestList</a>
    </h4>
</body>
</html>