body{
    height: 100vh;
    background: linear-gradient(120deg,	#000000,	#020286);
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

.btn-info{
    background-color:#00032c;
    color: white;
}

.btn-primary{ 
    background-color: black;
    color: white;
    border-color: #020286
}

.btn-primary:hover {
    background-color: #020286; /* Define a cor de fundo do botão quando o cursor do mouse está sobre ele */
    color: white;
    border-color: #ffffff; /* Define a cor da borda do botão quando o cursor do mouse está sobre ele */
}