body{
    height: 100vh;
    background: linear-gradient(120deg,	#000000,	#020286);
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

.btn-info{
    background-color:#000000;
    color: white;
}

.btn-primary{ 
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: #020286
}

.btn-primary:hover {
    background-color: #020286; 
    color: white;
    border-color: #ffffff; 
}

.nav-link{
    color: white;
}